* {
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif; /* Todo: Cambiar */
}

body{
    background-color: #FBFBFB!important;
}

nav{
    /*background-color: #0081C9; TODO: Cambiar a este color cuando necesario */
    background-color: #D9D9D9;
    margin: 0px;
}
.menuItems{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav .menuItems li {
    margin: 0px;
    padding: 8px 16px;
}
.menuItems li a{
    /*color: white; TODO: Cambiar a este color cuando necesario */
    color: black;
    font-weight: 600;
    text-decoration: none;

}
#active{
    background-color: #FFC93C;
}


.dropdown{
    border: 0px !important;
    margin-bottom: 16px;
}
.dropdown-item{
    margin: 16px;

}
.dropdown-toggle{
    width: 100% !important;
    color: black !important;
    background-color: #D9D9D9 !important;
}
.dropdown-menu{
    width: 100%;
    background-color: #D9D9D9 !important;
    color: black !important;
    font-weight: 600;
}

header{
    margin: 0px;
    padding: 0px;
    justify-content: center;
}
h1{
    background-color: #06283D;
    color: white !important;
    text-align: center;
    font-family: 'Times New Roman', Times, serif; /*TODO: CAMBIAR*/
    padding: 10px 0px;
    margin: 0px !important;
    /*display: none;   TODO:Cambiar segun el landing page */
}
#headerNavbar{ /*El que tiene el search*/
    background-color: #0081C9;
    margin: 0px;
    padding: 10px;
    width: 100%;
    display: flex;
    margin: 0px !important;
    
}
#headerNavbar .row{
    width: 100%;
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

#headerNavbar img{
    height: 40px;
    width: 50px;
}

/*#headerNavbar .headerOptions img {
    width: 20px !important;
    height: 200px !important;
  }*/
  

.btn-searcher{
    background-color: #FFC93C !important;
    margin-left: 0px !important;
    height: 40px !important;
    width: 40px !important;
    padding: 0px !important;
}

#search-icon{
    width: 80% !important;
    height: 80% !important;
}
.cards-section{
    justify-content: space-between;
}
.card{
    box-shadow: 3px 6px 5px #b1b0b0;
    margin-bottom: 20px;
}
#products{
    width: 100%;
    display: flex !important;
    justify-content: space-around;
    
}
.card-body .row{
    justify-content: center !important;
}
.card-img-top{
    height: 250px;
}
.card-text{
    color: #5BC0F8 !important;
}

.categoria{
    font-weight: bolder;
    font-size: small;
}
.stock{
    font-weight: 400;
    font-size: small;
}
.precio{
    font-weight: bolder;
    color: black;
}
.btn-section-card{
    display: flex;
    justify-content: flex-end;
}
.btn-add{
    background-color: #FFC93C !important;
}

.fondoEncabezados{
    background-color: #5BC0F8;
}

.textAdmin{
    position:absolute;
    font-weight: bold;
    font-size: x-large;
    margin-top: 1px;
}

p.headerModal{
    font-size: 1.25rem; 
    font-weight: 500; 
    line-height: 1.2; 
    background-color: transparent;
    color: black !important; 
    font-weight: bold;
}

image.iconCampana{
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  
}

/* Lista carrito */
.list{
    padding-top: 1rem;
    justify-content: center;
}

.form-check-input{
    width: 2rem!important;
    height: 2rem!important;
}

.form-check-input:checked {
    background-color: #5BC0F8!important;
    border-color: #5BC0F8!important;
}

.list-item-body{
    justify-content: space-between!important;
}

.img-left{
    padding: 0rem !important;
}

.card-img-left{
    width: 100%;
    height: 100%;
}

.list-item-section{
    padding: 1.5rem!important;
}

.list-item-title, .subtotal-title{
    font-size: 1.2rem;
}

.list-item-price{
    font-weight: bolder;
    color: black;
    font-size: 1.2rem;
}

.list-item-total, .subtotal-amount{
    font-weight: bolder;
    color: black;
    font-size: 1.6rem;
}

.list-item-btn-decrease{
    width: 0px;
    height: 0px;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-top: 2rem solid #5BC0F8;
}

.list-item-btn-increase{
    width: 0px;
    height: 0px;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
    border-bottom: 2rem solid #5BC0F8;
}

.list-item-amount{
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid #CECFC9;
    border-radius: 0.2rem;
}

.pay-btn{
    font-weight: bolder!important;
    color: black!important;
    background-color:#5BC0F8!important;
    font-size: 1.2rem!important;
}

.subtotal-title, .subtotal-amount, .pay-btn-container{
    justify-content: end;
}

.menuItems li:hover{
    background-color: #0081C9;
}

.card{
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.02);  
    background-color: #f7f7f7;  
}
.btn:hover{
    cursor: pointer;
    border: 1px solid black !important;
    font-weight: bold !important;
}
.headerOptions{
    transition: transform 0.3s ease;
}

.headerOptions:hover{
    transform: scale(1.1);      
}